.square-container {
    max-width: 350px;
    max-height: 350px;
    width: 40%;
    .square {
        width: 100%;
        padding-top: 100%;
        background-color: #ccc;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.header { 
    font-size: 40px;
}

.mat-card {
    ::ng-deep {
        max-height: 350px;
    }
}