<h2>Inventory</h2>

<div class="mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <input [formControl]="searchKey" type="text" placeholder="Search item" class="form-control mat-elevation-z4 w-25">
        <button (click)="addItem()" mat-raised-button color="primary">Add Item</button>
    </div>

    <div class="mt-4">
        <app-custom-table (clickedItem)="changeQuantity($event)" [tableConfig]="tableConfig" [items]="inventory$ | async"></app-custom-table>
    </div>
</div>